page {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
}

.container {
  background: #f4f4f4;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.tipCon {
  padding: 3px 16px;
  text-align: right;
  .tip {
    font-size: 22px;
    color: #666;
  }
}

.profile-info {
  background-color: #ab956d;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 28px;
}

.profile-info .avatar {
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.profile-info .info {
  flex: 1;
  height: 85px;
  padding-left: 31.25px;
}

.profile-info .name {
  display: block;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 37.5px;
  margin-bottom: 10px;
}

.profile-info .level {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #7f7f7f;
  font-size: 30px;
}

.loginBtn {
  width: 90%;
  font-size: 30px;
  margin-top: 100px;
}
.itemCon {
  margin: 16px 12px;
  .itemContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cover {
      width: 270px;
      // height: 480px;
      display: block;
      flex: 1;
      margin-right: 15px;
    }
    .rightContent {
      flex: 1;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        text-align: justify;
      }

      .btn {
        height: 60px;
        margin-top: 30px;
        line-height: 60px;
        font-size: 28px;
      }

      .timeCon {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        .authorCon {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 10px;
          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 10px;
          }
          .nickname {
            font-size: 28px;
            line-height: 40px;
            color: #666;
          }
        }
        .time {
          font-size: 22px;
          color: #666;
        }
      }
    }
  }
}
